@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sempre acredite nos seus sonhos, pois ninguém lutará por eles além de você.</p>

<div class="container">
    <img src="~/pictures/img2.jpg" class="img-responsive" alt="Cinque Terre" width="310" height="350" />
</div>